@model General

<title>@(Model.SiteOwnerName)'s Personal Web Page | @Model.SiteOwnerJob - @Model.SiteOwnerCountry</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="@(Model.SiteOwnerName)'s Personal Web Page - @Model.SiteOwnerJob - @Model.SiteOwnerCountry " />
<meta name="keywords" content="@Model.SiteOwnerName, @Model.SiteOwnerJob, @Model.SiteOwnerCountry" />
<meta name="author" content="@Model.SiteOwnerName" />

<!-- Facebook and Twitter integration -->
<meta property="og:title" content="@(Model.SiteOwnerName)'s Personal Web Page" />
<meta property="og:image" content="/userdata/general/@Model.SiteLogoPath" />
<meta property="og:url" content="https://www.mertocak.work/" />
<meta property="og:site_name" content="@(Model.SiteOwnerName)'s Personal Web Page" />
<meta property="og:description" content="@(Model.SiteOwnerName)'s Personal Web Page" />
<meta name="twitter:title" content="@(Model.SiteOwnerName)'s Personal Web Page" />
<meta name="twitter:image" content="https://www.mertocak.work/" />
<meta name="twitter:url" content="@(Model.SiteOwnerName)'s Personal Web Page" />
<meta name="twitter:card" content="@(Model.SiteOwnerName)'s Personal Web Page" />